.fade-enter {
 opacity: 0;
}

.fade-enter-active {
 opacity: 1;
 transition: opacity 300ms;
}

.fade-exit {
 opacity: 1;
}

.fade-exit-active {
 opacity: 0;
 transition: opacity 300ms;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src:local('Work Sans'),local('WorkSans-Regular'),
    url('../../assets/WorkSans-Bold.ttf')
    /* src: local('Work Sans'), local('WorkSans-Regular'), */
         /* url('./') format('woff2'), */
         /* url('./ruta-a-tu-fuente/WorkSans-Regular.woff') format('woff'); */
  }