# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

node_modules
.cache/
.env

# package-lock.json
package-lock.json

prueba.json
10.json
JSON1.json
JSON2.json
JSON3.json